{% extends "abonent/main.html" %}

{% block breadcrumb %}
        <ol class="breadcrumb">
            <li><a href="{% url 'abonent_info' abonent.id %}">Абонент</a></li>
            <li><a href="{% url 'users.views.abonent_services' abonent.id %}">Услуги</a></li>
            <li class="active">История</li>
        </ol>
{% endblock %}

{% block pages %} 
<div class="page-header">
  <h2 class="sub-header">История услуги {{ service }}</h2>
  <a href="{% url 'users.views.service_status_change' abonent.id service.id %}">Запланировать изменение статуса 
  <span class="glyphicon glyphicon-calendar"></span></a>
</div>
{% if sscs %}	
  <table class="table h6">
    <thead>
      <tr>
        <th>Дата</th>
        <th>Старый статус</th>
        <th>Новый статус</th>
        <th>Исполнен</th>
        <th>Основание</th>
      </tr>
    </thead>
    <tbody>
      {% for ssc in sscs %}
      <tr>
        <td>{{ ssc.date|date:'Y-m-d H:i:s' }} [{{ ssc.pk }}]</td>
        <td>{{ ssc.get_laststatus_display }}</td>
        <td>{{ ssc.get_newstatus_display }}</td>
        <td>
          {% if ssc.done %} 
            Исполнен
            {% if ssc.successfully %}
              успешно
            {% else %}
              неудачно
            {% endif %}
          {% else %}
            В очереди&nbsp
            <a href="{% url 'ssc_delete' abonent.id service.id ssc.id %}"><span class="glyphicon glyphicon-remove"></span></a>
          {% endif %}
        </td>
        <td>
          {{ ssc.comment }}
          {% if ssc.attach %} 
            {{ ssc.attach }} 
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}        

{% endblock %}