{% extends "abonent/main.html" %}

{% block script %}
    <script type="text/javascript">
    $(function(){
        var showed = false;
        $("#btn_toggle").click(function () {
            $('tr.active').toggle("slow");
        });
    });
    </script>
{% endblock %}

{% block pages %}

{% if services %}
{% load dict_extras %}
        <table class="table h6 table-condensed">
        <thead>
          <tr>
            <th>#</th>
            <th>Адрес</th>
            <th>Начало</th>
            <th>Тариф</th>
            <th>Скорость</th>
            <th>Параметры</th>
            <th>Статус</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {% for service in services %}
        <tr id="tr-{{ service.pk }}" {% ifequal service.status 'D' %} class="active" style=" display:none" {% endifequal %}>
            <td>[{{ service.pk }}]</td>
            <td>
                {{ service.location.address }}
                <a href="{% url 'users.views.service_location_edit' abonent.id service.id %}">
                <span class="glyphicon glyphicon-edit"></span></a>
                <p><small>{{ service.segment.title }}</small></p>
            </td>
            <td>{{ service.datestart }}</td>
            <td>
                {{ service.plan.title }} - {{ service.plan.price }} руб/мес 
                <a href="{% url 'users.views.service_plan_edit' abonent.id service.id %}">
                <span class="glyphicon glyphicon-edit"></span></a>
                <p><small>{{ service.tos }}</small></p>
            </td>
            <td>
            {% if service.speed_in > 0 %}
                {{ service.speed_in }} Кбит/с
                <p><small>Установлено вручную</small></p>
            {% else %}
                {% if service.plan.speed_in %} 
                    {{ service.plan.speed_in }} Кбит/с
                {% endif %}
            {% endif %}
            </td>
            <td>
                <p>{{ service.ip.ip }}</p> 
                <p>{{ service.mac }}</p>
                {% if service.vlan %}
                    <p>vlan{{ service.vlan.number }}</p>
                {% endif %} 
            </td>
            <td>
                {% ifequal service.adm_status '0' %}
                    {{ service.get_status_display }}
                {% else %}
                    {{ service.get_adm_status_display}}
                {% endifequal %}
            </td>
            <td>
                <div class="btn-group">
                    <a href="{% url 'users.views.service_history' abonent.id service.id %}" role="button" class="btn btn-warning btn-xm ">
                    <span class="glyphicon glyphicon-list"></span></a>
                    <a href="{% url 'users.views.service_edit' abonent.id service.id %}" role="button" class="btn btn-primary btn-xm ">
                    <span class="glyphicon glyphicon-cog"></span></a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

    <div class="btn-group">
        <a href="{% url 'users.views.service_add' abonent.id %}" class="btn btn-success">Добавить услугу</a>
        <a id='btn_toggle' class="btn btn-warning" onclick="this.innerHTML = this.innerHTML == 'Скрыть архивные' ? 'Показать архивные' : 'Скрыть архивные'; return false;">Показать архивные</a>
    </div>
{% else %}
    <h3 class="sub-header">Услуги не найдены</h3>
    <a href="{% url 'users.views.service_add' abonent.id 0 %}" class="btn btn-success">Добавить услугу</a>
{% endif %}

{% endblock %}
