{% extends "abonent/main.html" %}

{% block script %}
    <script type="text/javascript">
    $(function(){
        var showed = false;
        $("#btn_toggle").click(function () {
            $('tr.active').toggle("slow");
        });
    });
    </script>
{% endblock %}

{% block pages %}

<div id='ip_modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myLargeModalLabel">Результат ARP запроса</h4>
        </div>
        <div class="modal-body">
          <div id='ip_content'>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% if services %}
{% load dict_extras %}
        <table class="table h6 table-condensed table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th class="col-md-2">Адрес услуги</th>
            <th class="col-md-1">Начало</th>
            <th>Тариф</th>
            <th class="col-md-1">Скорость</th>
            <th class="col-md-3">Параметры</th>
            <th class="col-md-1">Оборудование</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
        {% for service in services %}
        <tr id="tr-{{ service.pk }}" {% ifequal service.status 'D' %} class="active" style=" display:none" {% endifequal %}>
            <td>[{{ service.pk }}]</td>
            <td>
                {{ service.location.address }}
                <p><small>{{ service.location.geolocation }}</small></p>
                <a href="{% url 'service_location_edit' abonent.id service.id %}" data-toggle="tooltip" data-placement="left" title="Редактировать местоположение">
                <span class="glyphicon glyphicon-edit"></span></a>
                <a href="{% url 'service_location_choice' service.id %}" data-toggle="tooltip" data-placement="left" title="Выбрать местоположение">
                <span class="glyphicon glyphicon-folder-open"></span></a>
                <p><small>{{ service.location.comment }}</small></p>
            </td>
            <td>{{ service.datestart|date:'Y-M-d' }}</td>
            <td>
                {{ service.plan.title }} - {{ service.plan.price }} руб/мес 
                <a href="{% url 'users.views.service_add' abonent.id service.id %}" data-toggle="tooltip" data-placement="left" title="Сменить тарифный план">
                <span class="glyphicon glyphicon-edit"></span></a>
                <p><small>{{ service.tos }}</small></p>
            </td>
            <td>
                {% if service.speed %}
                    {{ service.speed.speed_in }} Кбит/с
                    <p><small>Установлено вручную</small></p>
                {% else %}
                    {{ service.plan.speed.speed_in }} Кбит/с
                    <p><small>По тарифу</small></p>
                {% endif %}
                <a href="{% url 'users.views.service_speed_edit' abonent.id service.id %}" data-toggle="tooltip" data-placement="left" title="Изменить скорость доступа">
                <span class="glyphicon glyphicon-cog"></span></a>
            </td>
            <td>
                {% for iface in service.ifaces.all %}
                    <p>
                        {{ iface.ip.ip }} - <small>{{ iface.mac }}</small>
                        <a id='#btn_iparp{{ iface.ip.pk }}' 
                        onclick="$.get( '/devices/get_iparp/?ip={{ iface.ip.ip }}&vlan={{ iface.ip.net.vlan.number }}', 
                        function( data ) {
                            $('#ip_content' ).html( data );
                            $('#ip_modal').modal('show');
                        });" data-toggle="tooltip" data-placement="left" title="ARP запрос">
                        <span class="glyphicon glyphicon-search"></span></a>
                    <a href="{% url 'users.views.service_iface_edit' service.id iface.id %}" data-toggle="tooltip" data-placement="left" title="Изменить IP-адрес">
                    <span class="glyphicon glyphicon-edit"></span></a>
                    <a href="{% url 'users.views.service_iface_del' service.id iface.id %}" data-toggle="tooltip" data-placement="left" title="Удалить IP-адрес">
                    <span class="glyphicon glyphicon-remove"></span></a>
                    </p>
                {% endfor %}
                <p>
                    <a href="{% url 'users.views.service_iface_add' service.id %}">Добавить IP
                    <span class="glyphicon glyphicon-plus"></span></a>
                </p>
                {% for vlan in service.vlan_list.all %}
                    vlan{{ vlan.number }}
                {% endfor %} 
                <a href="{% url 'users.views.service_vlan_edit' abonent.id service.id %}" data-toggle="tooltip" data-placement="left" title="Изменить список vlan'ов">
                <span class="glyphicon glyphicon-cog"></span></a>
            </td>
            <td>
                {% if service.device %}
                    {{ service.device }}
                {% endif %}
                <a href="{% url 'service_device_choice' service.id %}" data-toggle="tooltip" data-placement="left" 
                title="Выбрать устройство"><span class="glyphicon glyphicon-edit"></span></a>
            </td>
            <td>
                {% ifequal service.adm_status '0' %}
                    {{ service.get_status_display }}
                {% else %}
                    {{ service.get_adm_status_display}}
                    <p><small>Установлено вручную</small></p>
                {% endifequal %}
                <a href="{% url 'users.views.service_state_edit' abonent.id service.id %}" data-toggle="tooltip" data-placement="left" title="Установить административный статус">
                <span class="glyphicon glyphicon-cog"></span></a>
                <a href="{% url 'users.views.service_history' abonent.id service.id %}" data-toggle="tooltip" data-placement="left" title="История смены статусов">
                <span class="glyphicon glyphicon-list"></span></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>

    <div class="btn-group">
        <a href="{% url 'users.views.service_add' abonent.id 0 %}" class="btn btn-success">Добавить услугу</a>
        <a id='btn_toggle' class="btn btn-warning" onclick="this.innerHTML = this.innerHTML == 'Скрыть архивные' ? 'Показать архивные' : 'Скрыть архивные'; return false;">Показать архивные</a>
    </div>
{% else %}
    <h3 class="sub-header">Услуги не найдены</h3>
    <a href="{% url 'users.views.service_add' abonent.id 0 %}" class="btn btn-success">Добавить услугу</a>
{% endif %}

{% endblock %}
