{% extends "abonent/main.html" %}
    {% block script %}
        {{ form.media }}
    {% endblock %}

{% block pages %} 

<h2>Внести обещанный платеж</h2>     
<hr>
<form method="post" class="form-horizontal" role="form">{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <small>{{ field.errors }}</small>
                {{ field.label_tag }}
            </label>
            <div class="col-sm-4">
                {{ field }}
            </div>
        </div>
    {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="btn_save" class="btn btn-primary" type="submit">Сохранить <span class="glyphicon glyphicon-save"></span></button>
            <a id="setDate" class="btn btn-primary">+3 Дня</a>
        </div>
    </div>
</form>
        <script type="text/javascript">
        $("#setDate").click(function () {
            var d = new Date();
            d.setDate( d.getDate() + 3 );
            $('#id_datefinish_picker').data("DateTimePicker").setDate(d);
        });
        </script>
{% endblock %}
