{% extends "index.html" %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

{% block main %}

<h2>{% if new %} Добавление нового абонента{% else %}Изменение параметров абонента{% endif %}</h2>
<hr>
<form method="post" class="form-horizontal" role="form">{% csrf_token %}
  
    <div class="form-group">
        <label for="id_title" class="col-sm-3 control-label">ФИО или название организации</label>
        <div class="col-sm-3">
            {{ form.title }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_contract" class="col-sm-3 control-label">Номер договора</label>
        <div class="col-sm-3">
            {{ form.contract }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_is_credit" class="col-sm-3 control-label">Форма оплаты</label>
        <div class="col-sm-3">
            {{ form.is_credit }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_ip" class="col-sm-3 control-label">Тип абонента</label>
        <div class="col-sm-3">
            {{ form.utype }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="btn_save" class="btn btn-primary" type="submit">Сохранить <span class="glyphicon glyphicon-save"></span>
            </button>
        </div>
    </div>
</form>

{% endblock %}