{% extends "abonent/main.html" %}

{% block pages %} 
       
{% if ascs %}	
		<table class="table h6">
		<thead>
          <tr>
            <th>Дата</th>
            <th>Старый статус</th>
            <th>Новый статус</th>
            <th>Основание</th>
          </tr>
        </thead>
        <tbody>
		{% for asc in ascs %}
		<tr>
            <td>{{ asc.datetime|date:'Y-m-d H:i:s' }}</td>
            <td>{{ asc.get_laststatus_display }}</td>
            <td>{{ asc.get_newstatus_display }}</td>
            <td>{{ asc.comment }}
            {% if asc.attach %} 
<button class="btn btn-default pull-right" data-toggle="modal" data-target="#myModal{{ forloop.counter }}">
  <span class="glyphicon glyphicon-file"></span>
</button>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{ asc.attach }}</h4>
      </div>
      <div class="modal-body">
        <img class="media-object" src="{{  asc.attach.url }}" width="800" border="0" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
            {% endif %}
            </td>
        </tr>
		{% endfor %}
		</tbody>
		</table>
{% endif %}        

{% endblock %}
