{% extends "abonent/main.html" %}

{% block script %}
    <link href="/media/js/select2.css" rel="stylesheet"/>
    <script src="/media/js/select2.js"></script> 
    <link rel="stylesheet" href="/media/js/select2-bootstrap.css">
      
    <script type="text/javascript">
        function unlock() {
            $("#id_notice_email").attr('disabled', false);
            $("#id_notice_mobile").attr('disabled', false);
            $("#id_status").attr('disabled', false);
            $("#id_is_credit").attr('disabled', false);
            $("#id_vip").attr('disabled', false);
            $("#id_tag").attr('disabled', false);
            $("#id_title").attr('disabled', false);
            $("#btn_save").show();
            $("#btn_edit").hide();
           }
    </script>
    <script>
          $(function(){
            $('#id_tag').select2({
                // createSearchChoice: function() { return null; },
            })
            //  .on("change", function(e) {
            // // mostly used event, fired to the original element when the value changes
            // alert("change val=" + e.val);
            // })
          });
    </script>
    {% endblock %}

{% block pages %} 
<h2>Настройки</h2>     
<hr>
<form method="post" class="form-horizontal" role="form">{% csrf_token %}
{% for field in form %}
            <div class="form-group">
                <label class="col-lg-3 control-label">
                    <small>{{ field.errors }}</small>
                    {{ field.label_tag }}
                </label>
                <div class="col-lg-4">
                    {{ field }}
                </div>
            </div>
        {% endfor %}

    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="btn_save" class="btn btn-primary" style="display: none;" type="submit">Сохранить <span class="glyphicon glyphicon-save"></span></button>
              <a onclick="unlock()" id="btn_edit" class="btn btn-warning" class="btn btn-warning">Изменить <span class="glyphicon glyphicon-edit"></span></a>
        </div>
    </div>
</form>
{% endblock %}
