{% extends "abonent/main.html" %}

{% block pages %} 

<div class="btn-group" role="group" aria-label="...">
  <a href={% url 'payments' abonent.id %} type="button" class="btn btn-default">Платежи</a>
  <a href={% url 'writeoffs' abonent.id %} type="button" class="btn btn-default active">Списания</a>
  <a href={% url 'revise' abonent.id %} type="button" class="btn btn-default">Сверка</a>
</div>

<div class="page-header">
    <h2 class="sub-header">Списания со счета</h2>
</div>

<a href="{% url 'addpayoff' abonent.id %}" class="btn btn-primary btn-xm" role="button">Списать средства</a>
 
{% if payoffs %}	
		<table class="table table-striped h6">
		<thead>
          <tr>
            <th>#</th>
            <th>Платежная система</th>
            <th>Услуга</th>
            <th>Оператор</th>
            <th>Сумма</th>
            <th>Дата</th>
          </tr>
        </thead>
        <tbody>
		{% for payoff in payoffs %}
		<tr>
            <td>{{ payoff.number }}</td>
            <td>{{ payoff.wot.title }}
            {% if payoff.comment %} <p><small>{{ payoff.comment }}</small></p>{% endif %}
            </td>
            <td>{% if payoff.service %} [{{ payoff.service.pk}}] {{ payoff.service.plan.title }} - {{ payoff.service.plan.price }} руб/мес{% endif %}</td>
            <td>{% if payoff.user %} {{ payoff.user.get_full_name }} {% else %} Автоматическое списание {% endif %}</td>
            <td>{{ payoff.summ }} руб. </td>
            <td>{{ payoff.date|date:'Y-M-d' }}</td>
        </tr>
		{% endfor %}
		</tbody>
		</table>

{% else %}
	<h3 class="sub-header">Списания не найдены</h3>
{% endif %} 

{% endblock %}
