{% extends "abonent/main.html" %}

{% block pages %} 

<div class="row">
    <div class="col-xs-3">
        <a href="{% url 'addpayment' abonent.id %}" class="btn btn-primary btn-xm" role="button">
            Добавить платеж
        </a>
    </div>
</div>   
<hr>  
{% if pays %}	
		<table class="table table-striped h6">
		<thead>
          <tr>
            <th>#</th>
            <th>Платежная система</th>
            <th>Оператор</th>
            <th>Сумма</th>
            <th>Дата</th>
          </tr>
        </thead>
        <tbody>
		{% for pay in pays %}
		<tr>
            <td>{{ pay.num }}</td>
            <td>{{ pay.top.title }}</td>
            <td>{% if pay.user %} {{ pay.user.get_full_name }} {% else %} Автоматический платеж {% endif %}</td>
            <td>{{ pay.sum }} руб. </td>
            <td>{{ pay.date|date:'Y-M-d' }}</td>
        </tr>
		{% endfor %}
		</tbody>
		</table>
</br>
{% endif %} 
    
    
{% endblock %}