{% extends "abonent/main.html" %}

{% block pages %}

<div class="btn-group" role="group" aria-label="...">
  <a href={% url 'sms_abonent' abonent.id %} type="button" class="btn btn-default active">SMS</a>
  <a href={% url 'for_abonent' abonent.id %} type="button" class="btn btn-default">Email</a>
</div>

<div class="page-header">
    <h2 class="sub-header">SMS-уведомления</h2>
</div>

{% load dict_extras %}
<div class="table-responsive">
    <table class="table table-striped h6">
        <thead>
          <tr>
            <th>Дата</th>
            <th class='col-md-1'>Статус</th>
            <th>Результат</th>
            <th>Содержание</th>
            <th class='col-md-1'>
          </tr>
        </thead>
        <tbody>
        {% if notice_list %}
            {% for notice in notice_list %}
            <tr>
                <td>{{ notice.date }}</td>
                <td>
                    {{ notice.sent|yesno:"Отправлен,В очереди" }}
                </td>
                <td>
                    {{ notice.status|sms_status }}
                </td>
                <td>{{ notice.text }}</td>
                <td>
                    {% if not notice.sent %}
                        <p class='pull-right'><a href="{% url 'sms_send' notice.id %}">Отправить<span class="glyphicon glyphicon-share-alt"></span></a></p>
                        <p class='pull-right'><a href="{% url 'sms_edit' notice.id %}">Изменить<span class="glyphicon glyphicon-edit"></span></a></p>
                        <p class='pull-right'><a href="{% url 'sms_del' notice.id %}">Удалить<span class="glyphicon glyphicon-remove"></span></a></p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

    
{% endblock %}