{% extends "abonent/main.html" %}
    {% block script %}
    <script type="text/javascript">
    $(function(){
        $("select#id_segment").change(function(){
            $.getJSON("/abonent/ajax/ipbyseg/",{id:+$(this).val()}, function(j) {
                var options = '<option value="">--------- </option>';
                for (var i = 0; i < j.length; i++) {
                options += '<option value="' + parseInt(j[i].pk) + '">' + j[i].fields['ip'] + '</option>';
                }
                $("#id_ip").html(options);
                $("#id_ip option:first").attr('selected', 'selected');
                $("#id_ip").attr('disabled', false);
                })
            $("#id_ip").attr('selected', 'selected');
            $("select#id_tos").change();
        });
        $("select#id_tos").change(function(){
            $.getJSON("/abonent/ajax/planbytos/",{id:+$(this).val(), seg:+$("select#id_segment").val()}, function(j) {
                var options = '<option value="">--------- </option>';
                for (var i = 0; i < j.length; i++) {
                options += '<option value="' + parseInt(j[i].pk) + '">' + j[i].fields['title'] + ' - ' + j[i].fields['price'] + ' руб/мес </option>';
                }
                $("#id_plan").html(options);
                $("#id_plan option:first").attr('selected', 'selected');
                $("#id_plan").attr('disabled', false);
                })
            $("#id_ip").attr('selected', 'selected');
        });
        $("#saveSpeed").click(function () {

        });
        $("#editSpeed").click(function () {
            $("#id_speed_in").attr('disabled', false);
            $("#id_speed_out").attr('disabled', false);
            $("#editSpeed").hide();
            $("#saveSpeed").show();
        });
    })
    </script>

    {{ form.media }}
    {% endblock %}

{% block pages %}
<h2>{% if new %} Добавление новой услуги{% else %}Изменение параметров услуги {% endif %}</h2>
<hr>
<form method="post" class="form-horizontal" role="form">{% csrf_token %}
    <div class="form-group"{% if not new %} style="display:none" {% endif %}>
        <label for="id_segment" class="col-sm-3 control-label">Сегмент</label>
        <div class="col-sm-3">
            {{ form.segment }}    
        </div>
    </div>
    <div class="form-group" {% if not new %} style="display:none" {% endif %}>
        <label for="id_tos" class="col-sm-3 control-label">Тип услуги</label>
        <div class="col-sm-3">
            {{ form.tos }}
        </div>
    </div>
   
    <div class="form-group">
        <label for="id_plan" class="col-sm-3 control-label">Тарифный план</label>
        <div class="col-sm-3">
            {{ form.plan }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_ip" class="col-sm-3 control-label">IP-адрес</label>
        <div class="col-sm-3">
            {{ form.ip }}
        </div>
    </div>
    <div class="form-group {% if form.mac.errors %}has-error{% endif %}">
    <label class="control-label" for="id_mac">{{ form.mac.errors }}</label>
        <label for="id_mac" class="col-sm-3 control-label">MAC-адрес</label>
        <div class="col-sm-4">
            {{ form.mac }}
        </div>
    </div>
    <div class="form-group {% if form.speed_in.errors %}has-error{% endif %}">
        <label for="id_ip" class="col-sm-3 control-label">Cкорость, Кбит/с</label>
        <div class="col-sm-2">
            {{ form.speed_in }}
        </div>
        <div class="col-sm-2">
            {{ form.speed_out }}
        </div>
        <a id="editSpeed" class="btn btn-warning">Изменить <span class="glyphicon glyphicon-edit"></span></a>
        <a id="saveSpeed" class="btn btn-primary" style="display: none;">Сохранить <span class="glyphicon glyphicon-"></span></a>
    </div>
    <div class="form-group">
        <label for="id_status" class="col-sm-3 control-label">Текущий статус</label>
        <div class="col-sm-4">
            {{ form.status }}
        </div>
    </div>
        <div class="form-group">
        <label for="id_adm_status" class="col-sm-3 control-label">Административный статус</label>
        <div class="col-sm-4">
            {{ form.adm_status }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_datestart" class="col-sm-3 control-label">Начало услуги</label>
        <div class="col-sm-3">
            {{ form.datestart }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_id_datefinish" class="col-sm-3 control-label">Завершение услуги</label>
        <div class="col-sm-3">
            {{ form.datefinish }}
        </div>
    </div>
    <div class="form-group">
        <label for="id_ip" class="col-sm-3 control-label">Координаты</label>
        <div class="col-sm-2">
            {{ form.lat }}
        </div>
        <div class="col-sm-2">
            {{ form.lon }}
        </div>
        <a id="getCoord" class="btn btn-warning">Найти на карте <span class="glyphicon glyphicon-search"></span></a>
    </div>
    <div class="form-group">
        <label for="id_status" class="col-sm-3 control-label">Адрес</label>
        <div class="col-sm-4">
            {{ form.address }}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="btn_save" class="btn btn-primary" type="submit">Сохранить <span class="glyphicon glyphicon-save"></span></button>
        </div>
    </div>
</form>
{% endblock %}