{% extends "abonent/main.html" %}

{% block pages %}
<div class="page-header">
    <h4 class="sub-header">Трафик клиента за текущий месяц</h4>
</div>
{% if traf %}   
{% load dict_extras %}
<table class="table table-striped h6">
<thead>
  <tr>
    <th>Местоположение</th>
    <th>IP</th>
    <th>Входящий</th>
    <th>Исходящий</th>
  </tr>
</thead>
<tbody>
{% for item in traf %}
<tr>
    <td>{{ item.location }}</td>
    <td>{{ item.ip }}</td>
    <td>{{ item.inbound|sizify }}</td>
    <td>{{ item.outbound|sizify }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %} 

{% endblock %}