{% extends extend %}

{% block script %}
    <link href="/media/js/select2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/js/select2-bootstrap.css">
    <script src="/media/js/select2.js"></script>
    <script>
        $(document).ready(function() { 
            $("select").select2();
            $("#id_extratag").select2({tags:[""],tokenSeparators: [",",]});
        });
    </script>
    {{ form.media }}
{% endblock %}

{% block breadcrumb %}
    {% if breadcrumbs %}
        <ol class="breadcrumb">
            {% for item in breadcrumbs %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
            <li class="active">Редактирование</li>
        </ol>
    {% endif %}
{% endblock %}

{% block pages %}

{% load dict_extras %}
{% if message %}
    <div class="alert alert-{% if form.errors %}danger{% else %}success{% endif %}" role="alert">{{ message }}</div>
{% endif %}

<div class="page-header">
    <h2 class="sub-header">{{ header }}</h2>
</div>
<form method="post" class="form-horizontal" role="form" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
        <div class="form-group">
            <label class="col-sm-3 control-label">
                <small>{{ field.errors }}</small>
                {{ field.label_tag }}
            </label>
            <div class="col-sm-4">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button id="btn_save" class="btn btn-primary" type="submit">Сохранить <span class="glyphicon glyphicon-save"></span>
            </button>
        </div>
    </div>
</form>
{% endblock %}