{% extends "index.html" %}
{% block script %}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
       var data = google.visualization.arrayToDataTable([
          ['Скорость', 'Количество', { role: 'style' }],
          {% for item in data %} 
          ['{{ item.plan__speed__speed_in }} Кбит/с', {{ item.plan__speed__speed_in__count }}, 'silver' ],
          {% endfor%}
        ]);

        var options = {
          vAxis: {title: 'Скорость, Мб/с',  titleTextStyle: {color: 'red'}}
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}

{% block main %} 
{% load dict_extras %}
  <div class="page-header">
    <div class="sub-header">
      <h2>Распределение абонентов по скоростям</h2>
      <h4>Всего активных услуг: {{ service_count }}</h4>
      <h4>Общая полоса активных услуг: {{ total_band }} Мбит/с</h4>
      <h4>Коэфициент переподписки: {{ total_band|div:250 }}</h4>
    </div>
  </div>
  <div class="col-lg-6">
    <div id="chart_div" style="width: 900px; height: 500px;"></div> 
  </div>
{% endblock %}
