{% extends "special/info.html" %}
{% block message %}
  Доступ к сайту ограничен в соответствии с Федеральными законами № 114-ФЗ от 25.07.2002 (О противодействии экстремистской деятельности), № 436-ФЗ от 29.12.2010 (О защите детей от информации, причиняющей вред их здоровью и развитию), № 149-ФЗ от 27.07.2006 (Об информации, информационных технологиях и о защите информации) и Постановлением Правительства РФ от 26.10.2012 № 1101.
  Проверить наличие сетевого адреса в Едином реестре можно в разделе «Просмотр реестра» на сайте <a href="http://eais.rkn.gov.ru/">eais.rkn.gov.ru</a>. Блокировка происходит по URL запрашиваемого ресурса.
  <h5>Текущее время: {% now "j F Y H:i:s" %}</h5>
{% endblock %}