<h2 class="sub-header" id="pager">Найдено абонентов: {{ abonent_list_count }}</h2>
<ul class="pagination pagination-lg">
    {% if abonents.has_previous %}
       <li class="previous"><a href="?page={{ abonents.previous_page_number }}#pager">&laquo;</a><li>
    {% endif %}
        <li class="active"><a href="#" >{{ abonents.number }} из {{ abonents.paginator.num_pages }}</a></li>
    {% if abonents.has_next %}
        <li class="next"><a href="?page={{ abonents.next_page_number }}#pager">&raquo;</a></li>
    {% endif %}
</ul>