{% extends "index.html" %}

{% block main %}
<div class="page-header">
    <h2 class="sub-header">Список Email уведомлений</h2>
</div>

<p><a href="{% url 'mass_notice_add' %}">Создать новую рассылку&nbsp<span class="glyphicon glyphicon-envelope"></span></a></p>
<p>
    {% if count != 0 %}
    <a href="{% url 'notices_exec' %}">Отправить все ({{ count }}) сообщения в очереди&nbsp<span class="glyphicon glyphicon-share"></span></a>
    {% endif %}
</p>
</br>
{% if emails %}

<nav>
  <ul class="pagination">
    {% if emails.has_previous %}
    <li>
      <a href="?page={{ emails.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    <li class="active"><a href="#">{{ emails.number }} of {{ emails.paginator.num_pages }}</a></li>
    {% if emails.has_next %}
    <li>
      <a href="?page={{ emails.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>

{% load dict_extras %}
    <div class="table-responsive">
        <table class="table h6">
        <thead>
          <tr>
            <th class='col-md-1'>Дата</th>
            <th>Статус</th>
            <th>Получатель</th>
            <th>Тема</th>
            <th>Содержание</th>
            <th class='col-md-1'>
          </tr>
        </thead>
        <tbody>
        {% for email in emails %}
        <tr {% if not email.sent %}class="active"{% endif %}>
            <td>{{ email.date }}</td>
            <td>
                {{ email.sent|yesno:"Отправлен,В очереди" }}
            </td>
            <td>{% if email.abonent %}
                    <a href="{% url 'abonent_info' email.abonent.id %}">{{ email.abonent }}</a>
                {% else %}
                    {{ email.destination }}
                {% endif%}
            </td>
            <td>{{ email.subject }}</td>
            <td>
                {{ email.content|safe }}
                {% if email.attach %}
                    <a href="{{ email.attach.url }}"><span class="glyphicon glyphicon-paperclip"></span></a>
                {% endif %}
            </td>
            <td>
                {% if not email.sent %}
                    <p class='pull-right'><a href="{% url 'send_message' email.id %}">Отправить&nbsp
                    <span class="glyphicon glyphicon-share-alt"></span></a></p>
                    <p class='pull-right'><a href="{% url 'emailmessage_edit' email.id %}">Изменить&nbsp
                    <span class="glyphicon glyphicon-edit"></span></a></p>
                    <p class='pull-right'><a href="{% url 'notice_email_del' 0 email.id %}">Удалить&nbsp
                    <span class="glyphicon glyphicon-remove"></span></a></p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

{% else %}
    <h3 class="sub-header">Уведомления не найдены</h3>
{% endif %}
    
{% endblock %}
