{% extends "index.html" %}

{% block main %}
<div class="page-header">
    <h2 class="sub-header">Список Email уведомлений</h2>
</div>

<p><a href="{% url 'mass_notice_add' %}">Создать новую рассылку&nbsp<span class="glyphicon glyphicon-envelope"></span></a></p>
<p>
    {% if count != 0 %}
    <a href="{% url 'notices_exec' %}">Отправить все ({{ count }}) сообщения в очереди&nbsp<span class="glyphicon glyphicon-share"></span></a>
    {% endif %}
</p>
</br>
{% if notice_list %}
{% load dict_extras %}
    <div class="table-responsive">
        <table class="table h6">
        <thead>
          <tr>
            <th class='col-md-1'>Дата</th>
            <th>Статус</th>
            <th>Получатель</th>
            <th>Тема</th>
            <th>Содержание</th>
            <th class='col-md-1'>
          </tr>
        </thead>
        <tbody>
        {% for notice in notice_list %}
        <tr {% if not notice.sent %}class="active"{% endif %}>
            <td>{{ notice.date }}</td>
            <td>
                {{ notice.sent|yesno:"Отправлен,В очереди" }}
            </td>
            <td>{% if notice.abonent %}
                    <a href="{% url 'abonent_info' notice.abonent.id %}">{{ notice.abonent }}</a>
                {% else %}
                    {{ notice.destination }}
                {% endif%}
            </td>
            <td>{{ notice.subject }}</td>
            <td>
                {{ notice.content|safe }}
                {% if notice.attach %}
                    <a href="{{ notice.attach.url }}"><span class="glyphicon glyphicon-paperclip"></span></a>
                {% endif %}
            </td>
            <td>
                {% if not notice.sent %}
                    <p class='pull-right'><a href="{% url 'send_message' notice.id %}">Отправить&nbsp
                    <span class="glyphicon glyphicon-share-alt"></span></a></p>
                    <p class='pull-right'><a href="{% url 'emailmessage_edit' notice.id %}">Изменить&nbsp
                    <span class="glyphicon glyphicon-edit"></span></a></p>
                    <p class='pull-right'><a href="{% url 'notice_email_del' 0 notice.id %}">Удалить&nbsp
                    <span class="glyphicon glyphicon-remove"></span></a></p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>

{% else %}
    <h3 class="sub-header">Уведомления не найдены</h3>
 {% endif %}
    
{% endblock %}
