{% extends "index.html" %}

{% block main %}
<div class="page-header">
    <h2 class="sub-header">Список SMS уведомлений</h2>
</div>

<p>На счету {{ balance }} руб.</p>
<p><a href="{% url 'sms_edit' 0 %}">Создать SMS&nbsp<span class="glyphicon glyphicon-edit"></span></a></p>
<p><a href="{% url 'mass_notice_add' %}">Создать новую рассылку&nbsp<span class="glyphicon glyphicon-envelope"></span></a></p>
<p>
    {% if count != 0 %}
    <a href="{% url 'sms_all_send' %}">Отправить все ({{ count }}) sms в очереди&nbsp<span class="glyphicon glyphicon-share"></span></a>
    {% endif %}
</p>
</br>
<nav>
  <ul class="pagination">
    {% if smss.has_previous %}
    <li>
      <a href="?page={{ smss.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    <li class="active"><a href="#">{{ smss.number }} of {{ smss.paginator.num_pages }}</a></li>
    {% if smss.has_next %}
    <li>
      <a href="?page={{ smss.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% load dict_extras %}
    <div class="table-responsive">
        <table class="table h6">
        <thead>
          <tr>
            <th class='col-md-1'>Дата</th>
            <th>Статус</th>
            <th>Результат</th>
            <th>Получатель</th>
            <th>Содержание</th>
            <th class='col-md-1'>
          </tr>
        </thead>
        <tbody>
        {% if smss %}
        {% for sms in smss %}
        <tr {% if not notice.sent %}class="active"{% endif %}>
            <td>{{ sms.date }}</td>
            <td>
                {{ sms.sent|yesno:"Отправлен,В очереди" }}
            </td>
            <td>
                {{ sms.status|sms_status }}
            </td>
            <td>{% if sms.abonent %}
                    <a href="{% url 'abonent_info' sms.abonent.id %}">{{ sms.abonent }}</a>
                {% endif %}
            </td>
            <td>
                {{ sms.text }}
            </td>
            <td>
                {% if not sms.sent %}
                    <p class='pull-right'><a href="{% url 'sms_send' sms.id %}">Отправить&nbsp
                    <span class="glyphicon glyphicon-share-alt"></span></a></p>
                    <p class='pull-right'><a href="{% url 'sms_edit' sms.id %}">Изменить&nbsp
                    <span class="glyphicon glyphicon-edit"></span></a></p>
                    <p class='pull-right'><a href="{% url 'sms_del' sms.id %}">Удалить&nbsp
                    <span class="glyphicon glyphicon-remove"></span></a></p>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
        </table>
    </div>
    
{% endblock %}
