{% extends "index.html" %}
    {% block script %}
    <script type="text/javascript" src="/media/js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="/media/js/alert.js"></script>
    <script type="text/javascript">
    $(function(){
        $("select#id_tos").change(function(){
            $.getJSON("/ajax/plans/",{id:+$(this).val()}, function(j) {
                var options = '<option value="">--------- </option>';
                for (var i = 0; i < j.length; i++) {
                options += '<option value="' + parseInt(j[i].pk) + '">' + j[i].fields['title'] + '</option>';
                }
                $("#id_plan").html(options);
                $("#id_plan option:first").attr('selected', 'selected');
                $("#id_plan").attr('disabled', false);
                })
            $("#id_tos").attr('selected', 'selected');
        })
    })
    </script>
    {% endblock %}
{% block main %} 
<div class="jumbotron">
<!--
<form class="form-horizontal" role="form" action={% url "users.views.abonent_search" %} method="post">{% csrf_token %}
    <div class="form-group">
        {{ form.as_table }}
    </div>
    <p><button type="submit" class="btn btn-primary btn-lg">Найти</button></p>
</form> -->
<h2>Страница в разработке, используйте быстрый поиск
<span class="glyphicon glyphicon-arrow-up"></span></h2>
</div>
<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.3, изменения от 14.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Реализована форма добавления абонентов</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.2, изменения от 10.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлен скрипт запланированной смены статусов</p>
            <p>- Добалены breadcrumbs в раздел услуги</p>
            <p>- Исправлена подсветка текущего элемента меню</p>
            <p>- Большие изменения в изменениях статусов услуг</p>
            <p>- Изменены очереди статусов услуг</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.1, изменения от 09.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлена история изменения статуса услуг</p>
            <p>- Изменен механизм изменения статуса услуги</p>
            <p>- Написана страница + view + form для создания нового записи об изменении статуса услуги</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.0, изменения от 08.07.14</h3>
        </div>
        <div class="panel-body">
            Улучшена работа с заметками. Добавлена форма добавления заметки и кнопки удаления.
        </div>
    </div>
</div>
{% endblock %}
