{% extends "index.html" %}
    {% block script %}
    <script type="text/javascript" src="/media/js/jquery-1.10.1.js"></script>
    <script type="text/javascript" src="/media/js/alert.js"></script>
    <link href="/media/js/select2.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/media/js/select2-bootstrap.css">
    <script src="/media/js/select2.js"></script>
    <script>
        $(document).ready(function() { $("select").select2(); });
    </script>
    <script type="text/javascript">
    $(function(){
        $("select#id_tos").change(function(){
            $.getJSON("/ajax/plans/",{id:+$(this).val()}, function(j) {
                var options = '<option value="">--------- </option>';
                for (var i = 0; i < j.length; i++) {
                options += '<option value="' + parseInt(j[i].pk) + '">' + j[i].fields['title'] + '</option>';
                }
                $("#id_plan").html(options);
                $("#id_plan option:first").attr('selected', 'selected');
                $("#id_plan").attr('disabled', false);
                })
            $("#id_tos").attr('selected', 'selected');
        })
    })
    </script>
    
{% endblock %}

{% block main %} 
<div class="jumbotron">
<!--
<form class="form-horizontal" role="form" action={% url "users.views.abonent_search" %} method="post">{% csrf_token %}
    <div class="form-group">
        {{ form.as_table }}
    </div>
    <p><button type="submit" class="btn btn-primary btn-lg">Найти</button></p>
</form> -->
<form method="post" class="form-horizontal" role="form">{% csrf_token %}
{% for field in form %}
        <div class="form-group">
            <label class="col-sm-2 control-label">
                <small>{{ field.errors }}</small>
                {{ field.label_tag }}
            </label>
            <div class="col-sm-4">
                {{ field }}
            </div>
        </div>
    {% endfor %}
    <div class="form-group">
        <div class="col-sm-offset-2">
            <button class="btn btn-primary btn-lg" type="submit">Найти <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
</form>
</div>
{% if abonents %}
{% load dict_extras %}
<div class="page-header">
    <h2 class="sub-header">Найдено абонентов: {{ abonent_list_count }}</h2>
    <ul class="pagination pagination-lg">
            {% if abonents.has_previous %}
               <li class="previous"><a href="?page={{ abonents.previous_page_number }}">&laquo;</a><li>

            {% endif %}
                <li class="active"><a href="#" >{{ abonents.number }} из {{ abonents.paginator.num_pages }}</a></li>
            {% if abonents.has_next %}

                <li class="next"><a href="?page={{ abonents.next_page_number }}">&raquo;</a></li>
            {% endif %}
            </ul>
</div>

<div class="col-lg-12">
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Договор</th>
            <th>Абонент</th>
            <th></th>
            <th>Баланс</th>
            <th>Статус</th>
          </tr>
        </thead>
        <tbody>
        {% for abonent in abonents %}
        <tr>
            <td>{{ abonent.contract }}</td>
            <td><a href="{% url 'abonent_info' abonent.id %}">{{ abonent.title }}</a>
            <p><small>{{ abonent.get_utype_display }}</small><p></td>
            <td></td>
            <td>{{ abonent.balance|floatformat:2 }} руб.</td>
            <td class={{ abonent.status|get_color }}>{{ abonent.get_status_display }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<!--<div class="col-lg-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.11, изменения от 23.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Улучшена форма групповой рассылки рассылки</p>
            <p>- Добавлены специальный тэги [balance], [title], [contract] и другие</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.10, изменения от 23.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Промежуточный релиз с исправлением большого числа ошибок</p>
            <p>- Добавлены групповый рассылки (не тестировано!!!)</p>
            <p>- Добавлен сложный фильтр абонентов</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.9, изменения от 22.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлен вывод списка уведомлений для каждого абонента</p>
            <p>- Добавлен поиск по названию абонента</p>
            <p>- Добавлен флаг основного контакта</p>
            <p>- Добавлен постраничный вывод поиска абонентов</p>
            <p>- Убраны "пустые" (сумма=0) сообщения из рассылки</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.8, изменения от 21.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлен функционал комментирования и закрытия обращений (ТТ)</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.7, изменения от 18.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлены ТТ в меню абонена, создание, редактирование</p>
            <p>- Сделана динамические подгрузка больших страниц для ускорения их вывода</p>
            <p>- Добавлен подраздел с ТТ только для вас</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.6, изменения от 17.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Управление устройствами вынесено в отдельный модуль</p>
            <p>- Изменена страница с выводом IP адресов</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.5, изменения от 16.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлен в меню раздел ТТ (добавление пока только через админку)</p>
            <p>- Мелкие изменения и фиксы</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.4, изменения от 15.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлен раздел контактов</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.3, изменения от 14.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Реализована форма добавления абонентов</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.2, изменения от 10.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлен скрипт запланированной смены статусов</p>
            <p>- Добалены breadcrumbs в раздел услуги</p>
            <p>- Исправлена подсветка текущего элемента меню</p>
            <p>- Большие изменения в изменениях статусов услуг</p>
            <p>- Изменены очереди статусов услуг</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.1, изменения от 09.07.14</h3>
        </div>
        <div class="panel-body">
            <p>- Добавлена история изменения статуса услуг</p>
            <p>- Изменен механизм изменения статуса услуги</p>
            <p>- Написана страница + view + form для создания нового записи об изменении статуса услуги</p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Версия 1.0.0, изменения от 08.07.14</h3>
        </div>
        <div class="panel-body">
            Улучшена работа с заметками. Добавлена форма добавления заметки и кнопки удаления.
        </div>
    </div>
</div>
-->
{% endblock %}
