{% extends "index.html" %}

{% block script %}
<script type="text/javascript">
  function jump(h){
    var top = document.getElementById(h).offsetTop;
    window.scrollTo(0, top);
  }
</script>
{% endblock %}

{% block main %} 
<div class="page-header">
  <h2 class="sub-header">Список базовых станций</h2>
  <a href="{% url 'bs_edit' 0 %}">Добавить БС
  <span class="glyphicon glyphicon-plus-sign"></span></a>
</div>
<div class="row">
  <div class="col-lg-3">
    <div class="input-group">
      <input name="search" type="text" maxlength="4" id="search" type="text" class="form-control" 
      placeholder='номер БС' onPaste=""  autocomplete="off"
      onkeydown="if (event.keyCode == 13) jump(document.getElementById('search').value)"/>
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" onclick="jump(document.getElementById('search').value)">Перейти</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br>
<table class="table table-striped table-condensed">
<thead>
  <tr>
    <th>#</th>
    <th>Адрес</th>
    <th>Кол-во устройств</th>
    <th>Комментарий</th>    
    <th></th>
  </tr>
</thead>
<tbody>
{% if bs_list %}
  {% for bs in bs_list %}
  <tr id='{{ bs.number }}' >
    <td><strong>{{ bs.pk }}</strong></td>
    <td><a href="{% url 'bs_view' bs.pk %}">{{ bs.title }}</a>
    <small>{{ bs.address }}</small></td>
    <td><small>{{ bs.device_set.count }}</small></td>
    <td>{{ bs.comment }}</td>
    <td>
      <a class='pull-right' href="{% url 'bs_edit' bs.pk %}">Изменить&nbsp
      <span class="glyphicon glyphicon-edit"></span></a><p>
    </td>
  </tr>
  {% endfor %}
{% endif %}
</tbody>
</table>

{% endblock %}