{% extends "index.html" %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["timeline"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Устройство' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([

        {% for device in device_list %}
            {% if device.freqs  %}
            [ '{{ device.ip.ip }}', new Date({{ device.freqs }}-{{ device.width }}/2, 1, 1), new Date({{ device.freqs }}+{{ device.width }}/2, 1, 1) ],
          {% endif %}
        {% endfor %}
          ]);
        chart.draw(dataTable);
      }
    </script>
    {% if snr %}
    <script type="text/javascript">
        function get_supply_info()  
        {  
            var snr_id = {{snr.pk}};
            $.getJSON( "/ajax/get_supply_info/", {id:snr_id} ,function(data) {
                    var options = '';
                    if (data.supply == true){
                        options = '<span class="label label-success">'+  data.voltage +' В </span>';
                    }
                    else {
                        options += '<span class="label label-danger">Отсутствует внешнее питание, '+ data.voltage +' В </span>';
                    }

                    $("#supply").html(options);
                }); 
        };

        $(document).ready(function(){  
            get_supply_info();
            setInterval('get_supply_info()',5000);  
        }); 
    </script>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    {% if breadcrumbs %}
                <ol class="breadcrumb">
                    {% for item in breadcrumbs %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                    <li class="active">Просмотр</li>
                </ol>
    {% endif %}
{% endblock %}

{% block pages %}

{% load dict_extras %}

<div id='ad_modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myLargeModalLabel">Азимуты и расстояния</h4>
        </div>
        <div class="modal-body">
          <div id='ip_content'>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="page-header">
    <h2 class="sub-header">{{ bs.title }}
    <a href="{% url 'bs_edit' bs.pk %}"><span class="glyphicon glyphicon-edit"></span></a><p></h2>
    <h3>{{ bs.address }} <div class='pull-right' id='supply'></div></h3>
    <h4>{{ bs.geolocation }}</h4>
    {{ bs.comment }}
</div>


{% if device_list %}
    <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Устройство</th>
        <th>Радио <a href="{% url 'refresh_radio' bs.pk %}">Обновить <span class="glyphicon glyphicon-refresh"></span></a></th>
        <th>Ответные устройства</th>
      </tr>
    </thead>
    <tbody>
    {% for device in device_list %}
    <tr id='{{ device.pk }}' >
        <td><a href="{% url 'device_view' device.pk %}">{{ device }}</a>
        <small><p>{{ device.comment|safe }}</p>
        {% if device.devtype.category == 'R' %}
        <a id='#btn_azimuth{{ device.pk }}' 
                        onclick="$.get('/devices/get_azimuth_info/?id={{ device.pk }}', 
                        function( data ) {
                            $('#ip_content' ).html(data);
                            $('#ad_modal').modal('show');
                        });" data-toggle="tooltip" data-placement="left" title="Азимуты и расстояния">Азимуты и расстояния 
                        <span class="glyphicon glyphicon-resize-full"></span></a>
        {% endif %}
        </small>
        </td>
        <td>
            {% if device.details_map.freqs %}
                <p><span class="badge">{{ device.details_map.freqs }} Mhz </span></p>
                <p>{{ device.details_map.width }} Mhz</p>
                <p>{{ device.details_map.mode }}</p>
            {% endif %}
        </td>        
        <td>
        <ul>
            <small>
            {% for peer in device.peers %}
                <li>
                {{ peer.ip.ip }} <a href="http://{{ peer.ip.ip }}" data-toggle="tooltip" data-placement="left" title="Веб"><span class="glyphicon glyphicon-share-alt"></span></a> 
                {% if peer.service_set.all.first %}
                    / <a href="{% url 'abonent_info' peer.service_set.all.0.abon.pk %}">{{ peer.service_set.all|first }}</a>
                {% elif peer.location %}
                    / <a href="{% url 'bs_view' peer.location.pk %}">{{ peer.location }}</a>
                {% else %}
                    / <a href="{% url 'device_location_edit' peer.id %}">Создать БС <span class="glyphicon glyphicon-edit"></span></a> <a href="{% url 'device_location_choice' peer.id %}">Выбрать БС <span class="glyphicon glyphicon-flag"></span></a>
                    / <a href="">Привязать к услуге <span class="glyphicon glyphicon-user"></span></a>
                {% endif %}
                </li>
            {% endfor %}
            </small>
        </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}

{# <div id="timeline" style="width: 100%; height: 300px;"></div> #}
    <script type="text/javascript">
    //<![CDATA[
        var map_geolocation;
        
        function savePosition_geolocation(point)
        {
            var input = document.getElementById("id_geolocation");
            input.value = point.lat().toFixed(6) + "," + point.lng().toFixed(6);
            map_geolocation.panTo(point);
        }
        
        function load_geolocation() {
            var point = new google.maps.LatLng(0,0);

            var options = {
                zoom: 9,
                center: point,
                mapTypeId: google.maps.MapTypeId.ROADMAP
                // mapTypeControl: true,
                // navigationControl: true
            };
            
            map_geolocation = new google.maps.Map(document.getElementById("map_geolocation"), options);

            var markersBounds = new google.maps.LatLngBounds();

            var markerPosition = new google.maps.LatLng({{ bs.geolocation }});

            markersBounds.extend(markerPosition);

            var contentString = '{{bs.comment|safe}}';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                    map: map_geolocation,
                    position: markerPosition,
                    draggable: false,
                    title:'{{bs.address}}'
            
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map_geolocation,marker);
            });
            
            map_geolocation.setCenter(markersBounds.getCenter());
            
        }
        
        $(document).ready(function(){
            load_geolocation();
        });

    //]]>
    </script>

    <div id="map_geolocation" style="width: 100%; height: 600px"></div>

{% endblock %}
