{% extends "index.html" %}

{% block script %}
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["timeline"]});
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('timeline');
        var chart = new google.visualization.Timeline(container);
        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Устройство' });
        dataTable.addColumn({ type: 'date', id: 'Start' });
        dataTable.addColumn({ type: 'date', id: 'End' });
        dataTable.addRows([
        {% for dev in device_list %}
          [ '{{ dev.ip.ip }}', new Date(5680-20/2, 1, 1), new Date(5680+20/2, 1, 1) ],
        {% endfor %}
          ]);
        chart.draw(dataTable);
      }
    </script>   
{% endblock %}

{% block breadcrumb %}
    {% if breadcrumbs %}
                <ol class="breadcrumb">
                    {% for item in breadcrumbs %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                    <li class="active">Просмотр</li>
                </ol>
    {% endif %}
{% endblock %}

{% block pages %}

{% load dict_extras %}

<div class="page-header">
    <h2 class="sub-header">{{ bs.title }}
    <a href="{% url 'bs_edit' bs.pk %}"><span class="glyphicon glyphicon-edit"></span></a><p></h2>
    <h3>{{ bs.address }}</h3>
    <h4>{{ bs.geolocation }}</h4>
    {{ bs.comment }}
</div>

{% if device_list %}
    <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Устройство</th>
        <th>Радио <a href="{% url 'refresh_radio' bs.pk %}">Обновить <span class="glyphicon glyphicon-refresh"></span></a></th>
        <th>Ответные устройства</th>
      </tr>
    </thead>
    <tbody>
    {% for device in device_list %}
    <tr id='{{ device.pk }}' >
        <td><a href="{% url 'device_edit' device.pk %}">{{ device }}</a>
        <p><small>{{ device.comment|safe }}</small></p>
        </td>
        <td>
            {% if device.freqs %}
                <span class="badge">{{ device.freqs }} Mhz </span> / {{ device.width }} Mhz / {{ device.ap|yesno:"Access Point, Station" }} 
            {% endif %}
        </td>        
        <td>
        <ul>
            <small>
            {% for peer in device.peers %}
                <li>
                {{ peer.ip.ip }} <a href="http://{{ peer.ip.ip }}"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a> 
                {% if peer.location %}
                    / {{ peer.location }}
                {% elif peer.service_set.all.0.abon %}
                    / <a href={% url 'abonent_info' peer.service_set.all.0.abon.pk %}>{{ peer.service_set.all|first }}</a>
                {% endif %}
                </li>
            {% endfor %}
            </small>
        </ul>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}
    <script type="text/javascript">
    //<![CDATA[
        var map_geolocation;
        
        function savePosition_geolocation(point)
        {
            var input = document.getElementById("id_geolocation");
            input.value = point.lat().toFixed(6) + "," + point.lng().toFixed(6);
            map_geolocation.panTo(point);
        }
        
        function load_geolocation() {
            var point = new google.maps.LatLng(0,0);

            var options = {
                zoom: 9,
                center: point,
                mapTypeId: google.maps.MapTypeId.ROADMAP
                // mapTypeControl: true,
                // navigationControl: true
            };
            
            map_geolocation = new google.maps.Map(document.getElementById("map_geolocation"), options);

            var markersBounds = new google.maps.LatLngBounds();

            var markerPosition = new google.maps.LatLng({{ bs.geolocation }});

            markersBounds.extend(markerPosition);

            var contentString = '{{bs.comment|safe}}';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                    map: map_geolocation,
                    position: markerPosition,
                    draggable: false,
                    title:'{{bs.address}}'
            
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map_geolocation,marker);
            });
            
            map_geolocation.setCenter(markersBounds.getCenter());
            
        }
        
        $(document).ready(function(){
            load_geolocation();
        });

    //]]>
    </script>

    <div id="map_geolocation" style="width: 100%; height: 600px"></div>

{% endblock %}
