<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/media/images/favicon.ico">
    <title>Albeon client control system</title>
    <!-- Bootstrap core CSS -->
    <link href="/media/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/media/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/media/css/theme.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/docs.min.js"></script>
    <!--<script src="/media/js/jquery-1.10.1.js" type="text/javascript"></script>-->

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block script %}
    {% endblock %}
  </head>
  <body role="document">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      {# <div class="container"> #}
        <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-globe"></span> Albeon UCS</a>
        </div>
    <div class="navbar-collapse collapse">
    {% block navbar %}
            <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2">Абоненты <b class="caret"></b></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href={% url "users.views.abonent_search" %}>Поиск абонентов</a></li>
                    <li><a href={% url "users.views.abonent_add" 0 %}>Добавить абонента</a></li>
                    <li><a href={% url "import_abonent_from1C" %}>Импорт абонентов из 1C</a></li>
                    <li><a href={% url "add_quickpayment" %}>Внести платеж</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1">Отчеты <b class="caret"></b></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href={% url "journaling.views.report_plans" %}>Распределение абонентов по скоростям</a></li>
                    <li><a href={% url "journaling.views.report_paysbymonth" %}>Платежи по дням месяца</a></li>
                    <li><a href={% url "journaling.views.report_paysbyweek" %}>Платежи по дням недели</a></li>
                    <li><a href={% url "journaling.views.report_sumbymonth" %}>Платежи по месяцам</a></li>
                    <li><a href={% url "journaling.views.report_debitsum" %}>Общая задолженность юр лиц</a></li>
                    <li><a href={% url "payments_all" %}>Поступившие платежи</a></li>
                    <li><a href={% url "promisedpays_all" %}>Обещанные платежи</a></li>
                    <li><a href={% url "service_analysis" %}>Незаполненые тех параметры</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown" id="dropdownNotice">Уведомления <b class="caret"></b></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownNotice">
                     <li><a href={% url "email_all" %}>Список Email-уведомлений</a></li>
                    <li><a href={% url "templates_all" %}>Шаблоны уведомлений</a></li>
                    <li><a href={% url "abonentevents_all" %}>События для уведомлений</a></li>
                    <li><a href={% url "create_invoice" %}>Отправить счет</a></li>   
                </ul>
            </li>


            <li class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown" id="dropdownNotes">Сообщения 
                    <span class="badge">{% if notes_count %}!{% endif %}</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownNotes">
                    <li>
                        <a href={% url "notes.views.notes_all" %}>Заметки <span class="badge">{{ notes_count|default:"0" }}</span></a>
                    </li>
                </ul>
            </li>
            <li><a href={% url 'tt_all' 0 %}>TT <span class="badge">{{ open_tt|default:"0" }}</span></a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ресурсы <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href={% url "ips" 0 %}>IP Адреса</a></li>
                    <li><a href={% url "vlans.views.vlans_all" %}>VLANs</a></li>
                    <li><a href={% url "devices.views.devices_all" %}>Оборудование</a></li>
                    <li><a href={% url "apps_all" %}>Журанл работы с оборудованием</a></li>
                    <li><a href={% url "syslog_list" %}>Syslog</a></li>
                </ul>
            </li>
    {% if user.is_authenticated %}            
            <li class="dropdown">
                <a href='#' class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2">
                    <span class="glyphicon glyphicon-user"></span>  {{ user.get_full_name }} <span class="badge">{% if my_tt %}!{% endif %}</span><b class="caret"></b>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a href={% url 'tt_all' user.pk %}>Мои TT</a></li>
                    <li><a href={% url "users.views.log_out" %}><span class="glyphicon glyphicon-log-out"></span> Выход</a></li>
                </ul>
            </li>
    {% endif %}            
          </ul>
    {% endblock %}
        <form class="navbar-form navbar-right" method="get" role="search" action={% url 'aquicksearch' %}>{% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control" id="id_sidebar_search_q" name="q" placeholder="Номер договора">
            </div>
            <button type="submit" class="btn btn-success">Найти</button>
        </form>
        </div><!--/.nav-collapse -->    
      </div>
    </div>

    <div class="container theme-showcase" role="main">
        {% block main %}
        {% endblock %}
        <div class="footer pull-right">
        <p>User control system version 1.2.2 &copy; Albeon Ltd. 2014</p>
        <a href={% url 'show_changelog' %}>История изменений</a>
    </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/media/js/bootstrap.min.js"></script>
    <script src="/media/js/docs.min.js"></script>
    <script src="/media/js/jquery-1.10.1.js" type="text/javascript"></script>-->
  </body>
</html>