{% extends "index.html" %}
{% block script %}
    <script type="text/javascript">
    $(function(){
        $('.panel-collapse').on('show.bs.collapse', function (){
        	var spin = '#spinner' + $(this).attr('val');
        	var lstgroup = '#list-group' + $(this).attr('val');
        	$(spin).show();
            $.getJSON("/ajax/get_ip/",{id:+$(this).attr('val')}, function(j) {
                var options = '';
                for (var i = 0; i < j.length; i++) {
                    if (j[i]['abon_pk']==0) {url=''}
                    else {url = '/abonent/' + j[i]['abon_pk'] + '/services/'};
                    options += '<a href="' + j[i]['url'] + '" class="list-group-item">';
                    options += '<h4 class="list-group-item-heading">' + j[i]['ip'] + '</h4>';
                    options += '<p class="list-group-item-text">' + j[i]['desc'] + '</p></a>';
                    }
    	                $(lstgroup).html(options);
    	                $(spin).hide();
                    });
        });
    })
    </script>
{% endblock %}

{% block main %} 
<div class="page-header">
	<h2 class="sub-header">Управление адресами</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
        	{% for item in parent_nets %}
        		{% url 'ips' item.id as target_url %}
        		<li {% if request.META.PATH_INFO ==  target_url%} class="active"{% endif %}>
                    <a href="{{ target_url }}">{{ item }}</a>
                </li>
        	{% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
    	<div class="panel-group" id="accordion">
    	{% for net in net_list %}
            {% if net.pk %}
        	  <div class="panel panel-default">
        	    <div class="panel-heading">
        	      <h4 class="panel-title">
        	        {% if net.mask != 32 %}<a data-toggle="collapse"  data-parent="#accordion" href="#collapse{{net.pk}}">
        	          {{ net.ip }}/{{ net.mask }} - {{ net.vlan.description }} 
                      <span class="badge pull-right">vlan {{ net.vlan.number }}</span>
        	        </a>&nbsp;
                    <img id="spinner{{net.pk}}" style="display:none;" src="/media/images/spinner2.gif" alt="Loading"/>
                    {% else %} 
                        {{ net.ip }} создать сеть
                    {% endif %}
        	      </h4>
        	    </div>
        	    <div id="collapse{{net.pk}}" class="panel-collapse collapse" val="{{net.pk}}">
        	      <div class="panel-body">
        			<ul id="list-group{{net.pk}}" class="list-group">
        			<!-- Сюда подгружается список IP адресов через ajax-->
        			</ul>	      	
        	      </div>
        	    </div>
        	  </div>
            {% else %}
                <button type="button" class="btn btn-primary">
                    {{ net.ip }}/{{ net.mask }}
                </button>
            {% endif %}
    	{% endfor %}
    	</div>
    </div>
</div>
{% endblock %}