{% extends "index.html" %}
{% block main %} 
{% if ip_list %}
<div class="page-header">
	<h2 class="sub-header">Управление адресами</h2>
</div>
<div class="col-md-8">
	<div class="panel-group" id="accordion">
	{% for net in net_list %}
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{net.pk}}">
	          {{ net.ip }}/{{ net.mask }} - {{ net.vlan.title }} <span class="badge pull-right">vlan {{ net.vlan.number }}</span>
	        </a>
	      </h4>
	    </div>
	    <div id="collapse{{net.pk}}" class="panel-collapse collapse">
	      <div class="panel-body">
			<ul class="list-group">
				{% for ip in net.ipaddr_set.all %}
			  	<li class="list-group-item">
			  		{% url 'abonent_services' ip.service.abon.pk  as service_url %}
			  		{{ ip.ip }} <a class='pull-right' href="{{ service_url }}">{{ ip.service.abon }}</a>
			  	</li>
			  	{% endfor %}
			</ul>	      	
	      </div>
	    </div>
	  </div>
	{% endfor %}
	</div>
</div>
{% else %}
<h2 class="sub-header">IP-адреса не найдены</h2>
{% endif %}

{% endblock %}