{% extends "index.html" %}
{% block main %} 
{% if vlan_list %}
<div class="page-header">
	<h2 class="sub-header">Управление vlans</h2>
</div>
        <div class="col-md-8">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Название</th>
                  <th>Описание</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
              {% for vlan in vlan_list %}
                <tr id={{ vlan.number }} >
                  <td>{{ vlan.number }}</td>
                  <td>{{ vlan.title }}</td>
                  <td>{{ vlan.description }}</td>
                  <td> 
                   <div class="btn-group">
                    <a href="#" class="btn btn-warning" role="button">
                    <span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#" class="btn btn-danger" role="button">
                    <span class="glyphicon glyphicon-remove"></span></a>
                   </div>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
{% else %}
<h2 class="sub-header">No vlans are available</h2>
{% endif %}

{% endblock %}
