{% extends "index.html" %}

{% block script %}
    <script type="text/javascript">
    $(function(){
        $('.panel-collapse').on('show.bs.collapse', function (){
            if ($(this).attr('val')!='None') {
                var label = '#list-group' + $(this).attr('val');
                $(label).show();
                $.getJSON("/ajax/get_radio_param/",{ip:+$(this).attr('val')}, function(j) {
                    var options = '';
                    options += '<p> Используемые частоты:' + j['freq'] + ' Mhz</p>';
                    options += '<p> Ширина полосы' + j['width'] + 'MHz </p>';
                    $(label).html(options);
                });
            };
        });
    })
    </script>
{% endblock %}

{% block main %} 
<!-- Small modal -->
<div id='modal' class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myLargeModalLabel">Список интерфейсов маршрутизатора</h4>
        </div>
        <div class="modal-body">
          <div id='ip_content'>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="page-header">
    <h2 class="sub-header">Управление оборудованием</h2>
    <a href="{% url 'device_edit' 0 %}">Добавить новое устройство
    <span class="glyphicon glyphicon-plus-sign"></span></a>
</div>
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li><a href="{% url 'devices_list' 1 %}">Без адреса</a></li>
            {% for item in parent_nets %}
                {% url 'devices_list' item.id as target_url %}
                <li {% if request.META.PATH_INFO ==  target_url%} class="active"{% endif %}>
                    <a href="{{ target_url }}">{{ item }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-9">
        {% for device in dev_list %}
        <div class="panel panel-default" id='{{ device.pk }}'>
            <div class="panel-heading">
                {# <h3 class="panel-title"> #}
                    <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                    {{ device.devtype }}
                    <a class='pull-right' href="{% url 'device_edit' device.pk %}">Изменить
                    <span class="glyphicon glyphicon-cog"></span></a>
                {# </h3> #}
            </div>
            <div class="panel-body">
                {{ device.comment|safe }}
            </div>
                <ul class="list-group">
                    {% if device.router %}
                        <li class="list-group-item">
                            <a id='#btn_iparp{{ iface.ip.pk }}' 
                            onclick="var data = '{% for iface in device.interfaces.all %} <p>{{iface.ip.ip}}</p> {% endfor %}';
                            $('#ip_content').html( data ); 
                            $('#modal').modal('show');" data-toggle="tooltip" data-placement="left" 
                            title="Просмотреть">Просмотреть интерфейсы
                            <span class="glyphicon glyphicon-search"></span></a>
                        </li>
                      {% else %}
                      <li class="list-group-item">
                        {{ device.ip.ip }}
                         {% if device.interfaces.all.count == 0 %}
                          <a href={% url 'device_iface_add' device.id %} data-toggle="tooltip" data-placement="left" title="Добавить">Добавить IP <span class="glyphicon glyphicon-plus"></span></a>
                        {% endif %}
                        </li>
                      {% endif %}
                    <li class="list-group-item">
                        {% if device.location %}
                            {{ device.location }}
                            <a href="{% url 'device_location_choice' device.id %}">Переместить
                            <span class="glyphicon glyphicon-move"></span></a>
                        {% else %}
                            Местоположение: 
                            <a href="{% url 'device_location_edit' device.id %}">Создать
                            <span class="glyphicon glyphicon-edit"></span></a>
                            <a href="{% url 'device_location_choice' device.id %}">Выбрать
                            <span class="glyphicon glyphicon-flag"></span></a>
                         {% endif %}
                    </li>
                    {% for service in device.service_set.all %}
                    <li class="list-group-item">
                        <a href="{% url 'abonent_info' service.abon.id %}">{{ service.abon }}</a>
                    </li>
                    {% endfor %}
                    {% for config in device.config_set.all|slice:":2" %}
                    <li class="list-group-item">
                            Конфигурация от 
                        <small><a href='{{ MEDIA_URL }}{{ config.attach }}'>{{ config.date }} 
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></a></small>
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}