{% extends "index.html" %}

{% block script %}
    <script type="text/javascript">
        var dev_id = {{ device.pk }};

        function get_supply_info()  
        {
            $.getJSON( "/ajax/get_supply_info/", {id:dev_id} ,function(data) {
                    var options = '';
                    if (data.supply == true){
                        options = '<span class="label label-success">'+  data.voltage +' В </span>';
                    }
                    else {
                        options += '<span class="label label-danger">Отсутствует внешнее питание, '+ data.voltage +' В </span>';
                    }
                    $("#supply").html(options);
                }); 
        };

        function get_details(key_del)
        {
            $.getJSON("/ajax/detail_delete/",{id:dev_id,key:key_del}, function(data) {
                var options = '';
                $.each( data, function( key, value ) {
                    options += '<li class="list-group-item small">' + key + ' - ' + value;
                    options += ' <a href="#" class="detail_delete" val="'+ key +'">';
                    options += '<span class="glyphicon glyphicon-remove"></span></a></li>';
                });
                $('#detail-group').html(options);
            }); 
        };

        function save_confg()
        {
            $('#spinner').show();
            $.getJSON("/ajax/save_config/",{id:dev_id}, function(j) {
                var options = '';
                for (var i = 0; i < j.length; i++) {
                    options += '<li class="list-group-item small"><a href="' + j[i]['url'] + '"">';
                    options += '' + j[i]['desc'] + ' <span class="glyphicon glyphicon-paperclip"></span></a></li>';
                    }
                        $('#config-group').html(options);
                        $('#spinner').hide();
                        get_details('None');
                    }); 
        };

        function get_clients()
        {
            $('#spinner-clients').show();        
            $.getJSON("/ajax/get_clients/",{id:dev_id}, function(j) {
                var options = '';
                for (var i = 0; i < j.length; i++) {
                    options += '<tr class=' + j[i]['class'] + '>';
                    options += '<td>'+ j[i]['devname'] + '</td>' ;
                    options += '<td><a href="' + j[i]['url'] + '">' + j[i]['ip'] + '</a></td>' ;
                    options += '<td>' + j[i]['mac'] + '</td>' ;
                    options += '<td>' + j[i]['signal'] + '</td>' ;
                    options += '</tr>';
                    }
                        $('#clients').html(options);
                        $('#spinner-clients').hide(); 
                    }); 
        };

        $(document).ready(function(){  
            {% if device.devtype.category == 'P' %}
                get_supply_info();
                setInterval('get_supply_info()',5000);  
            {% endif %}

            {% if device.devtype.category == 'R' %}
                get_clients();
            {% endif %}

            $('#detail-group').on('click','.detail_delete',function(){
                get_details($(this).attr('val'));
            });  

            $('#save_config').click(function(){  
                save_confg();
            });  

        }); 
    </script>
{% endblock %}

{% block breadcrumb %}
    {% if breadcrumbs %}
        <ol class="breadcrumb">
            {% for item in breadcrumbs %}
                <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
            <li class="active">Просмотр</li>
        </ol>
    {% endif %}
{% endblock %}

{% block pages %}
<div class="page-header">
    <h2 class="sub-header">{{ device }} 
        <a href="http://{{ device.ip.ip }}" data-toggle="tooltip" data-placement="left" title="Веб"><span class="glyphicon glyphicon-share-alt"></span></a> 
        <a href="{% url 'device_edit' device.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'device_del' device.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        <div class='pull-right' id='supply'></div>
    </h2>
    <h4>{{ device.mgmt_vlan|default_if_none:"Vlan управления не задан" }}</h4>
    {% if device.location %}
        <h4><a href="{% url 'bs_view' device.location.pk %}">{{ device.location }}</a>
        <a href="{% url 'device_location_choice' device.id 0 %}"  data-toggle="tooltip" data-placement="left" title="Переместить">
        <span class="glyphicon glyphicon-move"></span></a>
        <a href="{% url 'device_location_drop' device.id %}"  data-toggle="tooltip" data-placement="left" title="Скинуть">
        <span class="glyphicon glyphicon-remove"></span></a></h4>
    {% elif device.service_set.first %}
        <h4><a href="{% url 'abonent_services' device.service_set.first.abon.pk %}">{{ device.service_set.first }}</a></h4>
    {% else %}
        Местоположение: 
        <a href="{% url 'device_location_edit' device.id %}">Создать
        <span class="glyphicon glyphicon-edit"></span></a>
        <a href="{% url 'device_location_choice' device.id 0 %}">Выбрать
        <span class="glyphicon glyphicon-flag"></span></a>
     {% endif %}
    <h4>{{ device.comment|safe }}</h4>
    <h4>{% if device.router %}<span class="label label-danger">Router</span>{% endif %}</h4>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Интерфейсы</div>
            <div class="panel-body">
                <a href={% url 'device_iface_add' device.id %} >Добавить интерфейс <span class="glyphicon glyphicon-plus"></span></a>
                <table class="table table-striped table-condensed">
                    <thead>
                      <tr>
                        <th>IP</th>
                        <th>MAC</th>
                        <th>Комментарий</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for iface in device.interfaces.all %}
                            <tr>
                                <td>{{ iface.ip }}</td>
                                <td>{{ iface.mac|default_if_none:"" }}</td>
                                <td>{{ iface.comment|default_if_none:"" }}</td>
                                <td>
                                    <a href={% url 'device_iface_del' iface.id %} data-toggle="tooltip" data-placement="left" title="Удалить"><span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% if device.devtype.category == 'R' %}
        <div class="panel panel-default">
            <div class="panel-heading">Подключенные клиенты&nbsp;<img id="spinner-clients" style="display:none;" src="/media/images/spinner2.gif" alt="Loading"/></div>
            <div class="panel-body">
                <table class="table table-striped table-condensed">
                    <thead>
                      <tr>
                        <th>Имя устройства</th>
                        <th>IP</th>
                        <th>MAC</th>
                        <th>Сигнал</th>
                      </tr>
                    </thead>
                    <tbody id="clients">
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Дополнительные параметры</div>

            <ul class="list-group" id="detail-group">
                {% for key, value in device.details_map.items %}
                    <li class="list-group-item small">{{ key }} - {{value}} 
                    <a href="#" class="detail_delete" val='{{key}}'><span class="glyphicon glyphicon-remove"></span></a></li>
                {% endfor %}
            </ul>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Cохраненные конфигурации</div>
            <div class="panel-body">
                <a href="#" id="save_config">Сохранить текущий конфиг <span class="glyphicon glyphicon-save"></span>&nbsp;<img id="spinner" style="display:none;" src="/media/images/spinner2.gif" alt="Loading"/></a>
            </div>
            <ul class="list-group" id="config-group">
            {% for config in device.config_set.all|slice:":2" %}
                <li class="list-group-item small">
                    <a href='{{ MEDIA_URL }}{{ config.attach }}'>
                    {{ config.date|date:"d-m-Y H:i:s" }} <span class="glyphicon glyphicon-paperclip"></span></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}