{% extends "index.html" %}
{% block main %} 
<div class="page-header">
    <h2 class="sub-header">Управление оборудованием</h2>
  <a href="{% url 'device_edit' 0 %}">Добавить новое устройство
  <span class="glyphicon glyphicon-plus-sign"></span></a>
</div>
{% if devices_list %}
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>IP</th>
      <th>Vlan</th>
      <th>Название</th>
      <th>Тип</th>
      <th>Абонент</th>
      <th class='col-md-1'></th>
    </tr>
  </thead>
  <tbody>
  {% for device in devices_list %}
  <tr>
    <td>{{ device.ip }}</td>
    <td><span class="badge">vlan {{ device.mgmt_vlan.number }}</span></td>
    <td>{{ device.title }}</td>
    <td>{{ device.devtype }}</td>
    <td>
      {% for service in device.user_device.all %}
          <a href="{% url 'abonent_info' service.abon.id %}">{{ service.abon }}</a>
      {% endfor %}
    </td>
    <td> 
        <p class='pull-right'><a href="{% url 'device_edit' device.pk %}">Изменить
        <span class="glyphicon glyphicon-cog"></span></a></p>
        <p class='pull-right'><a href="#">Удалить
        <span class="glyphicon glyphicon-remove"></span></a></p>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
